<app-page-header title="Tasks" buttonTitle="Create Task" (headerButtonClick)="onAddTaskClick()" [displayButton]="true"></app-page-header>
<div class="drag-n-drop-container">
    <div class="tasks-container">
        <h2>To do</h2>
    
        <div
          cdkDropList
          id="TODO"
          #TODO="cdkDropList"
          [cdkDropListData]="tasksToDo"
          [cdkDropListConnectedTo]="[DOING]"
          class="example-list"
          (cdkDropListDropped)="changeState($event)">
          <app-task-list-item 
            *ngFor="let task of tasksToDo" 
            [task]="task" 
            cdkDrag
          ></app-task-list-item>
        </div>
    </div>
    <div class="tasks-container">
        <h2>Doing</h2>
    
        <div
          cdkDropList
          id="DOING"
          #DOING="cdkDropList"
          [cdkDropListData]="tasksDoing"
          [cdkDropListConnectedTo]="[TODO, DONE]"
          class="example-list"
          (cdkDropListDropped)="changeState($event)">
          <app-task-list-item 
            *ngFor="let task of tasksDoing" 
            [task]="task" 
            cdkDrag
          ></app-task-list-item>
        </div>
    </div>
    <div class="tasks-container">
        <h2>Done</h2>
    
        <div
          cdkDropList
          id="DONE"
          #DONE="cdkDropList"
          [cdkDropListData]="tasksDone"
          [cdkDropListConnectedTo]="[DOING]"
          class="example-list"
          (cdkDropListDropped)="changeState($event)">
          <app-task-list-item 
            *ngFor="let task of tasksDone" 
            [task]="task" 
            cdkDrag
          ></app-task-list-item>
        </div>
    </div>
</div>