<app-page-header title="Functionalities" buttonTitle="Create Functionality" (headerButtonClick)="onAddFunctionalityClick()" [displayButton]="true"></app-page-header>
<div class="table-wrapper">
    <div class="filter">
        <mat-form-field>
          <mat-label>Filter State</mat-label>  
          <mat-select [formControl]="filterStateSelect" placeholder="Filter State">
            <mat-option value="">ALL</mat-option>
            <mat-option value="TODO">TODO</mat-option>
            <mat-option value="DOING">DOING</mat-option>
            <mat-option value="DONE">DONE</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="functionalities" class="test mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let functionality" (click)="onFunctionalityClick(functionality.functionality_ID)" class="pointer"> {{functionality.functionality_name}} </td>
        </ng-container>
        <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let functionality"> {{functionality.functionality_state}} </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let functionality">
                <button mat-icon-button color="accent" (click)="onEditFunctionalityClick(functionality.functionality_ID)">
                    <mat-icon class="pointer">edit</mat-icon>
                </button>            
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let functionality" >
                <button mat-icon-button color="warn" (click)="onDeleteFunctionalityClick(functionality.functionality_ID)">
                    <mat-icon class="pointer">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let functionalities columns: displayedColumns;"></tr>
    </table>
</div>