.table-wrapper {
    padding: 50px;
}

.mat-column-Delete,
.mat-column-Edit,
.mat-column-State,
.mat-column-Priority {
    width: 5%;
}

.mat-column-Name,
.mat-column-Owner {
    width: 20%;
}

.pointer {cursor: pointer;}

.filter {
    display: flex;
    justify-content: flex-end;
}