<app-page-header title="Edit Project" [displayButton]="false"></app-page-header>
<div class="form-container">
    <form [formGroup]="editForm" class="form">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" required/>
            <mat-error *ngIf="editForm.get('name')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput formControlName="description" required></textarea>
            <mat-error *ngIf="editForm.get('description')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
    </form>
    <button [disabled]="editForm.status === 'INVALID'" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>