<app-page-header title="Functionality Details" [displayButton]="false"></app-page-header>

<div class="details-container">
    <div>
        <h2>{{selectedFunctionality?.functionality_name}}</h2>
        <h3>Description: {{selectedFunctionality?.functionality_description}}</h3>
        <h3>Priority: {{selectedFunctionality?.functionality_priority}}</h3>
        <h3>State: {{selectedFunctionality?.functionality_state}}</h3>
        <h3>Owner: {{details.owner}}</h3>
        <h3>Project: {{details.project}}</h3>
        <h3>Started At: {{ startedAt() | async}}</h3>
        <h3>Time Of Completion: {{ completionTime() | async }}h</h3>
        <h3>Worked Hours: {{ workedHours() | async }}h</h3>
        <h3>Assigned employees:</h3>
        <mat-list cols="5" rowHeight="50px">
            <mat-list-item
                *ngFor="let user of details.users | async"
            >
                    <span matListItemTitle>{{user.user_name}} {{user.user_surname}} </span>
                    <span matListItemLine>{{user.user_role}}</span>
                </mat-list-item>
        </mat-list>
    </div>
    <div class="tasks-container">
        <table mat-table [dataSource]="details.tasks" class="mat-elevation-z8">
            <ng-container matColumnDef="Task_Name">
                <th mat-header-cell *matHeaderCellDef>Task Name</th>
                <td mat-cell *matCellDef="let task"> {{task.task_name}}</td>
            </ng-container>
            <ng-container matColumnDef="Task_State">
                <th mat-header-cell *matHeaderCellDef>Task State</th>
                <td mat-cell *matCellDef="let task"> {{task.task_state}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="['Task_Name', 'Task_State']"></tr>
            <tr mat-row *matRowDef="let tasks columns: ['Task_Name', 'Task_State']"></tr>
        </table>
    </div>
</div>

