.small-card {
    width: 200px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 5px 1px lightgrey;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 25px;
        object-fit: cover;
        margin: 5px;
    }


    

    .price-container {
        * {
            font-size: .8rem;
        }
    }
}