<router-outlet name="auth" *ngIf="!userLoggedIn"></router-outlet>
<mat-sidenav-container *ngIf="userLoggedIn" class="side-nav-container">
    <mat-sidenav mode="side" opened>
        <div class="side-nav-elements-container">
            <div style="padding-top: 20px;">
                <span class="app-name">MANAGE ME</span>
                <mat-nav-list role="navigation">
                    <a mat-list-item routerLink="projects">Projects</a>
                    <a mat-list-item routerLink="functionalities">Functionalities</a>
                    <a mat-list-item routerLink="tasks">Tasks</a>
                    <a *ngIf="currentUser?.user_role === 'admin'" mat-list-item routerLink="users">Users</a>
                </mat-nav-list>
            </div>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <button mat-icon-button (click)="onLogoutClick()">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                    <mat-card-title>{{currentUser?.user_name}} {{currentUser?.user_surname}}</mat-card-title>
                    <mat-card-subtitle>{{currentUser?.user_role}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>  
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
