.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0 2rem;
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }
    
    .add-btn {
        margin-right: 2rem;
    }
}