<div class="example-box">
    <mat-card style="box-shadow: none;">
        <mat-card-title>{{task.task_name}}</mat-card-title>
        <mat-card-subtitle *ngIf="loggedUserTask">You've been assigned to this task.</mat-card-subtitle>
    </mat-card>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDetailsClick(task.task_ID)" >
            Details
        </button>
        <button 
            *ngIf="loggedUserTask || devopsRole"
            mat-menu-item 
            (click)="onEditClick(task.task_ID)"
        >
            Edit
        </button>
        <button 
            *ngIf="loggedUserTask || devopsRole"
            mat-menu-item 
            (click)="onDeleteClick(task.task_ID)"
        >
            Delete
        </button>
      </mat-menu>
</div>
