.medium-card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px 1px lightgrey;
    margin: 5px;
    padding: 5px 10px;

    .title {
        margin-top: 5px;
        color: grey;
    }

    .value {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .percent-value {
        font-size: .7rem;
    }

    img {
        height: 70px;  
        align-self: flex-end;         
    }
}