<div class="wrapper">
  <div [formGroup] = "order" class="form-container" >
    <input formControlName="customersName" placeholder="name">
    <input formControlName="customersSurname" placeholder="surname">
    <input formControlName="address" placeholder="address">
    <label for="paymeentMethod">Payment</label>
    <select name="paymentMethod" formControlName="paymentMethod">
      <option value="paypal">PayPal</option>
      <option value="creditCard">Credit Card</option>
      <option value="debitCard">Debit Card</option>
    </select>
    <div formGroupName="product">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
  </div>
</div>