<app-page-header title="Edit Task" [displayButton]="false"></app-page-header>
<div class="form-container">
    <form [formGroup]="editForm" class="form">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" required/>
            <mat-error *ngIf="editForm.get('name')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput formControlName="description" required></textarea>
            <mat-error *ngIf="editForm.get('description')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="5">5</mat-option>
              </mat-select>
            <mat-error *ngIf="editForm.get('priority')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Related Functionality</mat-label>
            <mat-select formControlName="relatedFunctionality" required>
                <mat-option *ngFor="let func of functionalities$ | async" [value]="func.functionality_ID">{{func.functionality_name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('relatedFunctionality')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Duration in hours</mat-label>
            <mat-select formControlName="duration" required>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="5">5</mat-option>
                <mat-option [value]="6">6</mat-option>
                <mat-option [value]="7">7</mat-option>
                <mat-option [value]="8">8</mat-option>
              </mat-select>
            <mat-error *ngIf="editForm.get('duration')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Assigned User</mat-label>
            <mat-select formControlName="assignedUser" required>
                <mat-option *ngFor="let user of userOptions" [value]="user.user_id">{{user.user_name + ' ' + user.user_surname}}</mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('relatedFunctionality')?.errors?.['required']">
                Required!
            </mat-error>
        </mat-form-field>
    </form>
    <button [disabled]="editForm.status === 'INVALID'" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>