<app-page-header title="Projects" buttonTitle="Create Project" (headerButtonClick)="onAddProjectClick()" [displayButton]="true"></app-page-header>
<div class="table-wrapper">
    <table mat-table [dataSource]="projects" class="test mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let project" (click)="onProjectClick(project.project_ID)" class="pointer"> {{project.project_name}} </td>
        </ng-container>
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let project"> {{project.project_description}} </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let project">
                <button mat-icon-button color="accent" (click)="onEditProjectClick(project.project_ID)">
                    <mat-icon class="pointer">edit</mat-icon>
                </button>            
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let project" >
                <button mat-icon-button color="warn" (click)="projectService.deleteProject(project.project_ID)">
                    <mat-icon class="pointer">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let projects; columns: displayedColumns;"></tr>
    </table>
</div>

